@import "./styles/global.css";

/* ---------->>> HEADER - START <<---------- */
header {
    position: sticky;
    top: 0;
    grid-area: header;
    background-color: var(--c-bg-primary);
    /* box-shadow: 0 -29px 111px rgba(45, 55, 94, .47); */
    z-index: 9999;
}
.container-navigate {
    width: min(95%, 90rem);
    margin-inline: auto;
}
.navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.navigate .wrap-left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2.5rem;
}
.wrap-left .Bars3BottomLeft {
    display: inline-block;
    width: 28px;
    height: 28px;

    @media (min-width: 1024px) {
        display: none;
    }
}
.wrap-left a.logo {
    display: block;
    transform: translateX(-20%);

    @media (min-width: 1024px) {
        transform: translateX(0%);
    }
}a.logo img {
    max-width: 150px;
    height: 58px;
    aspect-ratio: 2;
}
.wrap-left nav.link {
    display: none;
    
    @media (min-width: 1024px) {
        display: block;
        flex-grow: 1;
        align-items: center;
        flex-direction: row;
        gap: 2.5rem;
    }
}.link ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.link ul > li {
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    border: 1px solid var(--c-bg-grey-tertiary);
}
.navigate .wrap-right {
    display: flex;
    align-items: center;
    gap: 14px;
}
.wrap-right .wrap-input {
    position: relative;
}
.wrap-input label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.wrap-input input.input-search {
    width: 15rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-inline-start: 1rem;
    padding-inline-end: 3rem;
    border-radius: 9999px;
    font-size: 12px;
    letter-spacing: 0.5px;
    border: 2px solid var(--c-border-tertiary);
}
.wrap-input span {
    position: absolute;
    display: grid;
    width: 2rem;
    height: 2rem;
    place-content: center;
    background-color: var(--c-bg-tertiary);
    color: white;
    z-index: 1;
    top: 50%;
    right: 5px;
    bottom: 0;
    transform: translateY(-50%);
    border-radius: 100%;
}
.wrap-input span button {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
.wrap-profile {
    position: relative;
    display: block;
    z-index: 99999;
}
.wrap-profile button {
    border-radius: 100%;
    border: 2px solid #F3F4F6;
    box-shadow: '0 35px 60px -15px rgba(0, 0, 0, 0.3)';
    overflow: hidden;
}
.wrap-profile button:hover + .card-menu_profile {
    visibility: visible;
    opacity: 1;
}
.wrap-profile .card-menu_profile:hover {
    visibility: visible;
    opacity: 1;
} 
button span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.wrap-profile img {
    max-width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}
.wrap-profile .card-menu_profile {
    visibility: hidden;
    opacity: 0;
    position: absolute; 
    left: 0;
    right: 0;
    transform: translateX(-80%) translateY(2%);
    z-index: 10px; 
    margin-top: 0.125rem; 
    border-radius: 0.75rem; 
    border-width: 1px; 
    border-color: #F3F4F6; 
    border-top-width: 1px; 
    border-color: #F3F4F6; 
    width: 15.625em; 
    background-color: #ffffff; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}
.wrap-profile .card-menu_profile::before {
    content: '';
    position: absolute;
    top: -6px;
    right: 20px;
    width: 1rem;
    height: 1rem;
    background-color: var(--c-bg-light);
    aspect-ratio: 1 / 1;
    transform: rotate(45deg);
    z-index: -1px;
}
.card-menu_profile .wrap-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
}
.wrap-menu > img {
    max-width: 60px;
    height: 60px;
    margin: 0.5rem auto 0.2rem;
    object-fit: cover;
    object-position: center;
}
.wrap-menu .username {
    display: block; 
    margin: 12px;
    text-align: center;
    border: 1px solid var(--c-border-primary);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    letter-spacing: 0.5px;
    color: var(--c-link);
}

.card-menu_profile .btn-logout {
    display: flex; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    gap: 0.5rem; 
    align-items: center; 
    border-radius: 0.5rem; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #B91C1C; 
    cursor: pointer;
}
.card-menu_profile .icon-logout {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    z-index: 20;
}
.card-menu_profile .btn-login {
    display: flex; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    gap: 0.5rem; 
    align-items: center; 
    border-radius: 0.5rem; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #198754; 
    cursor: pointer;
}
.card-menu_profile .icon-login {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    z-index: 20;
}
/* ---------->>> HEADER - END <<------------ */

/* ---------->>> MAIN - START <<------------ */
.main {
    grid-area: main;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
    grid-template-areas: 
        "   banner  banner  banner  banner  "
        "   content  content  content  content  "
        "   aside  aside  aside  aside  "
    ;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-rows: auto;
    padding-block: 1rem;
    width: min(95%, 90rem);
    margin-inline: auto;
    gap: 4rem 3rem;

    @media (min-width: 1024px) {
        grid-template-areas: 
            "   banner  banner  banner  banner  "
            "   content  content  content  aside  "
        ;
    }
}
.main .banner {
    grid-area: banner;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: black;
    text-align: left;
    line-height: 1.2;
    gap: 1rem;

    @media (min-width: 1024px) {
        grid-column: span 3;
    }
}
.banner h1 {
    display: block;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    text-wrap: balance;
}
.banner .info-article {
    display: flex;
    max-width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.info-article .date {
    font-size: 0.876rem;
    color: var(--c-grey-tertiary);
}
.info-article .label {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 22px;
    font-size: 0.75rem;
    letter-spacing: 1px;
    border: 1px solid var(--c-grey-tertiary);
}

.main .content {
    grid-area: content;
    min-block-size: 100vh;
    min-block-size: 100dvh;
}
.content .articles {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 3rem;
}
.articles .thumbnaile {
    width: 100%;
    height: 360px;
    border-radius: 12px;
    overflow: hidden;
}
.thumbnaile img {
    width: 100%;
    height: 100%;
    aspect-ratio:  16 / 9;
    object-fit: cover;
    object-position: center;
}
.articles .article p {
    font-size: 1.25rem;
    text-align: justify;
}
.article .text::first-letter {
    initial-letter: 2;
    -webkit-initial-letter: 2;
}

/* --->> ASIDE <<--- */
.main .aside {
    position: relative;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    gap: 14px;
    margin-bottom: 1rem;
    width: min(95%, 90rem);
    margin-inline: auto;

    @media (min-width: 768px) {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 14px;
    }

    @media (min-width: 1024px) {
        flex-direction: column;
        text-align: left;
    }
}
.aside .card-regist {
    position: relative;
    max-width: 400%;
    height: 220px;
    padding: 40px 38px 64px;
    z-index: 1px;
    border-radius: var(--br-small);
    border: 0.25rem solid black;
    background-color: #2F2E2E;
    box-shadow: 8px 8px var(--c-grey-primary);
    transition: 
        transform 50ms
        box-shadow 50ms;
    width: min(95%, 768px);
    margin-inline: auto;

    @media (min-width: 768px) {
        max-width: 38%;
        order: 2;
    }
    @media (min-width: 1024px) {
        max-width: 400%;
        order: 1;
    }
}
.card-regist:hover {
    transform: translate(6px, 6px);
    box-shadow: 2px 2px var(--c-grey-primary);
}
.card-regist p {
    font-size: small;
    text-align: center;
}
.card-regist .btn-regist {
    display: block;
    width: 100%;
    height: 3rem;
    text-align: center;
    transform: translateY(24px);
    background-color: var(--c-bg-tertiary);
    border-radius: 0.75rem;
    font-weight: 600;
    font-size: medium;
    letter-spacing: 0.063rem;
}

.aside .card-comments {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 650px;
    overflow: hidden;
    margin-top: 2.125rem;
    padding: 32px 16px 24px 32px;
    background-color: var(--c-bg-light);
    color: #2F2E2E;
    border-radius: 14px;
    border: 4px dashed #2F2E2E;
    order: 1;
    margin-inline: auto;

    @media (min-width: 768px) {
        width: 60%;
        order: 1;
    }

    @media (min-width: 1024px) {
        width: 100%;
        order: 2;
    }
}
.card-comments h3 {
    font-size: 1.25rem;
    font-weight: 400;
}
.card-comments .wrap-comments {
    display: flex;
    width: 100%;
    height: 500px;
    max-height: 430px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    margin-top: 3rem;
    margin-inline: auto;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1.5rem;
}
.wrap-comments::-webkit-scrollbar {
    width: 0.5em;
}
.wrap-comments::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: hsl(0, 0%, 95.69%, 0.5) transparent;
}
.wrap-comments {
    scrollbar-color: transparent transparent;
}
.wrap-comments:hover {
    scrollbar-color: hsl(0, 0%, 95.69%, 0.5) transparent;
}

.wrap-comments .list-comments {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    max-height: 4.375rem;
}
.list-comments .circle-profile {
    width: 5rem;
    height: 100%;
    background-position: top;
    overflow: hidden;
}
.circle-profile img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.list-comments > div + div > .info-comment p {
    font-size: 0.75rem;
    font-weight: 100;
    color: var(--c-grey-tertiary);
}
.list-comments > div + div > p {
    font-size: 0.75rem;
    line-height: 1.3;
    color: var(--c-grey-primary);
    transform: translateY(4px);
}

.card-comments .form-input_comment {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 32px 24px;
    z-index: 2px;
    background-color: var(--c-bg-light);
}
.form-input_comment .comment {
    position: relative;
    width: 100%;
    height: 56px;
    transform: translateY(-20%);
    border-radius: 17px;
    border: 1px solid var(--c-grey-tertiary);
}
.comment .input-comment {
    display: inline-block;
    width: min(95% - 4rem);
    height: 100%;
    padding: auto 1rem;
    margin: auto 1rem;
    line-height: 56px;
    font-size: 1rem;
}
.form-input_comment .btn-send {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 4px;
    width: 46px;
    height: 46px;
    border-radius: 12px;
    transform: translateY(-50%);
    background-color: var(--c-blue-tertiary);
}
.btn-send .icon-send {
    display: block;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(-45deg) translateX(3px);
    color: #ffffff;
}


/* Main Admin Page */
.profile-icon {
    font-size: 30px;
    color: #007bff;
}

.article-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.article-card img {
    border-radius: 10px;
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.article-card .btn {
    margin-right: 10px;
}

.update-section {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 0px #000;
    text-align: center;
}

.update-section .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
}
/* End Main Admin Page */

/* ---------->>> MAIN - END <<-------------- */