{% extends "layouts/base_with_grid.html" %}

{% block title %} Single Page {% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="/static/css/singlepage.css" />
{% endblock %}

{% block content %}

<main class="main">
    <div class="banner">
        <h1>
            Example Title Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
        </h1>
        <div class="info-article">
            <div class="date">
                <p>12 November 2024</p>
            </div>
            <div class="label">Crypto</div>
        </div>
    </div>
    <div class="content">
        <div class="articles">
            <div class="thumbnaile">
                <img src="../static/assets/img/thumbnaile-1.jpg" alt="" />
            </div>
            <article class="article">
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo
                    velit vitae voluptate, veritatis sunt iure ratione minus
                    aspernatur officia. Architecto, mollitia error eaque rerum quod
                    necessitatibus quia sapiente nisi. Tempora atque quos voluptate
                    veniam numquam nemo obcaecati earum quod odit tenetur,
                    doloremque iste rem explicabo, harum inventore, quae non omnis
                    dolorem. Magni illo pariatur aliquam? Nam eius illo sunt vel
                    exercitationem perspiciatis illum accusamus quos, eos,
                    voluptatum aperiam deleniti aliquam fugiat! Veritatis
                    voluptatibus nesciunt ab porro earum impedit explicabo qui
                    blanditiis incidunt odio laborum, a quibusdam voluptate
                    doloribus sed! Et, deserunt doloribus eveniet culpa temporibus
                    obcaecati ipsam! Debitis illum ad corrupti magnam nemo nisi
                    molestiae dicta minus, assumenda quisquam, delectus quae libero
                    id sit magni aut nihil impedit praesentium laudantium
                    voluptatibus! Incidunt totam laboriosam recusandae doloribus in
                    reiciendis iste voluptates aliquid obcaecati sit officia optio,
                    dolores aut blanditiis accusantium vel, ea ipsum, illo neque
                    asperiores dolore sint. Cumque soluta ullam, maxime quod sit
                    fugit accusamus ex aperiam repellat dolorum eligendi nesciunt
                    nemo reiciendis nostrum doloremque facere commodi? Commodi
                    repellendus, perspiciatis, culpa quasi suscipit aut dolore, et
                    expedita neque excepturi consequatur accusamus assumenda!
                    Quaerat aliquam odio veritatis magni? Quam tenetur non deserunt
                    accusantium perferendis, numquam atque ut voluptate officia
                    doloremque nesciunt ad laborum a. Dolor natus, odit ipsum
                    distinctio mollitia eum veritatis aspernatur. Possimus nisi
                    velit odio unde corrupti pariatur laudantium repellendus odit
                    quasi illum porro mollitia harum, error iste placeat ab!
                    Cupiditate, animi a! Porro vero delectus aperiam atque at.
                    Reprehenderit ratione ad quis sapiente et quam dignissimos
                    voluptas sint ipsum? Laboriosam possimus iste aliquam eos esse
                    obcaecati debitis molestiae officia deleniti corrupti
                    reprehenderit ipsa tenetur rerum porro ratione id vitae optio
                    cum temporibus natus, non asperiores iure amet! Nemo sed
                    asperiores reiciendis, libero magnam labore itaque adipisci
                    possimus quidem delectus fugiat odit esse et ratione! Illo
                    itaque qui ratione praesentium voluptate porro voluptatem
                    deleniti molestiae aperiam nulla, blanditiis fuga nam, eos
                    temporibus officiis totam iste nemo numquam nostrum ipsum unde a
                    distinctio asperiores cupiditate. Libero officia illo quod et
                    suscipit fuga architecto voluptas. Beatae numquam aspernatur
                    deleniti dolore hic rerum in illo quia adipisci quisquam ratione
                    facilis ducimus nisi expedita placeat, quaerat accusamus
                    voluptas reiciendis neque maiores at ea possimus perspiciatis?
                    Harum itaque id iste, asperiores commodi accusamus sint rerum
                    dolorem recusandae repellat quam! Illum, facere? Laboriosam iure
                    quas blanditiis quidem quaerat. Voluptas quas id blanditiis modi
                    dicta eius neque. A aspernatur rerum fugit vel similique quae
                    deleniti repellat numquam! Cum, magni. Rem dolorem esse
                    necessitatibus cum? Nulla necessitatibus tenetur nihil eligendi
                    tempore itaque placeat consequatur inventore a repellat,
                    doloribus, rem eos non quia, est debitis. Iste perspiciatis
                    laborum ex earum. Officia eveniet asperiores, illum nam optio
                    magni vel temporibus. Ea debitis provident impedit distinctio
                    minus at tempora consequuntur labore rem delectus est beatae
                    odio tenetur perspiciatis id, quod voluptatibus dolores quo
                    libero excepturi iure magni ratione illum. Eveniet architecto
                    deserunt nihil ratione vitae assumenda, cum ut eum pariatur
                    consequatur omnis. Eius aspernatur, deleniti maiores tenetur
                    suscipit a ad culpa, dolor laborum aut error explicabo numquam
                    ex illum alias.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo
                    velit vitae voluptate, veritatis sunt iure ratione minus
                    aspernatur officia. Architecto, mollitia error eaque rerum quod
                    necessitatibus quia sapiente nisi. Tempora atque quos voluptate
                    veniam numquam nemo obcaecati earum quod odit tenetur,
                    doloremque iste rem explicabo, harum inventore, quae non omnis
                    dolorem. Magni illo pariatur aliquam? Nam eius illo sunt vel
                    exercitationem perspiciatis illum accusamus quos, eos,
                    voluptatum aperiam deleniti aliquam fugiat! Veritatis
                    voluptatibus nesciunt ab porro earum impedit explicabo qui
                    blanditiis incidunt odio laborum, a quibusdam voluptate
                    doloribus sed! Et, deserunt doloribus eveniet culpa temporibus
                    obcaecati ipsam! Debitis illum ad corrupti magnam nemo nisi
                    molestiae dicta minus, assumenda quisquam, delectus quae libero
                    id sit magni aut nihil impedit praesentium laudantium
                    voluptatibus! Incidunt totam laboriosam recusandae doloribus in
                    reiciendis iste voluptates aliquid obcaecati sit officia optio,
                    dolores aut blanditiis accusantium vel, ea ipsum, illo neque
                    asperiores dolore sint. Cumque soluta ullam, maxime quod sit
                    fugit accusamus ex aperiam repellat dolorum eligendi nesciunt
                    nemo reiciendis nostrum doloremque facere commodi? Commodi
                    repellendus, perspiciatis, culpa quasi suscipit aut dolore, et
                    expedita neque excepturi consequatur accusamus assumenda!
                    Quaerat aliquam odio veritatis magni? Quam tenetur non deserunt
                    accusantium perferendis, numquam atque ut voluptate officia
                    doloremque nesciunt ad laborum a. Dolor natus, odit ipsum
                    distinctio mollitia eum veritatis aspernatur. Possimus nisi
                    velit odio unde corrupti pariatur laudantium repellendus odit
                    quasi illum porro mollitia harum, error iste placeat ab!
                    Cupiditate, animi a! Porro vero delectus aperiam atque at.
                    Reprehenderit ratione ad quis sapiente et quam dignissimos
                    voluptas sint ipsum? Laboriosam possimus iste aliquam eos esse
                    obcaecati debitis molestiae officia deleniti corrupti
                    reprehenderit ipsa tenetur rerum porro ratione id vitae optio
                    cum temporibus natus, non asperiores iure amet! Nemo sed
                    asperiores reiciendis, libero magnam labore itaque adipisci
                    possimus quidem delectus fugiat odit esse et ratione! Illo
                    itaque qui ratione praesentium voluptate porro voluptatem
                    deleniti molestiae aperiam nulla, blanditiis fuga nam, eos
                    temporibus officiis totam iste nemo numquam nostrum ipsum unde a
                    distinctio asperiores cupiditate. Libero officia illo quod et
                    suscipit fuga architecto voluptas. Beatae numquam aspernatur
                    deleniti dolore hic rerum in illo quia adipisci quisquam ratione
                    facilis ducimus nisi expedita placeat, quaerat accusamus
                    voluptas reiciendis neque maiores at ea possimus perspiciatis?
                    Harum itaque id iste, asperiores commodi accusamus sint rerum
                    dolorem recusandae repellat quam! Illum, facere? Laboriosam iure
                    quas blanditiis quidem quaerat. Voluptas quas id blanditiis modi
                    dicta eius neque. A aspernatur rerum fugit vel similique quae
                    deleniti repellat numquam! Cum, magni. Rem dolorem esse
                    necessitatibus cum? Nulla necessitatibus tenetur nihil eligendi
                    tempore itaque placeat consequatur inventore a repellat,
                    doloribus, rem eos non quia, est debitis. Iste perspiciatis
                    laborum ex earum. Officia eveniet asperiores, illum nam optio
                    magni vel temporibus. Ea debitis provident impedit distinctio
                    minus at tempora consequuntur labore rem delectus est beatae
                    odio tenetur perspiciatis id, quod voluptatibus dolores quo
                    libero excepturi iure magni ratione illum. Eveniet architecto
                    deserunt nihil ratione vitae assumenda, cum ut eum pariatur
                    consequatur omnis. Eius aspernatur, deleniti maiores tenetur
                    suscipit a ad culpa, dolor laborum aut error explicabo numquam
                    ex illum alias.
                </p>
            </article>
        </div>
    </div>
    <aside class="aside">
        <div class="card-regist">
            <p>
                CoinRadar Update Temukan berita terbaru seputar crypto, projek dan
                blockchain di notifikasi ketika bergabung bersama kami.
            </p>
            <button class="btn-regist">Register</button>
        </div>
        <div class="card-comments">
            <h3>Comments</h3>
            <div class="wrap-comments">
                <div class="list-comments 1">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 2">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 3">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 4">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 5">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 6">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 7">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 8">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 9">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 10">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 6">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 7">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 8">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 9">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="list-comments 10">
                    <div class="circle-profile">
                        <img src="../static/assets/img/Multiavatar-Skeleto.png" alt="" />
                    </div>
                    <div>
                        <div class="info-comment">
                            <p>
                                Username -
                                <span class="date-comment">12 November 2024</span>
                            </p>
                        </div>
                        <p class="text-comment">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <form class="form-input_comment">
                <div class="comment">
                    <input type="text" class="input-comment" placeholder="Add a comment..." />
                    <button class="btn-send">
                        <div class="icon-send">
                            <svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5">
                                </path>
                            </svg>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </aside>
</main>

{% endblock %}